.contact-title{
    color: var(--lightest-slate);
    font-size: 40px;
    padding: 50px;
    font-family: 'Fira code';
 
}
.contacts{
    color: var(--lightest-slate);
    font-size: 20px;
    font-family: 'Fira code';
    margin-right: 40%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding:50px;
    justify-content: space-between;
    align-content: space-between;
    .wrapper{
        display: flex;
        gap: 2rem;
        
        list-style-type: none;
        a{
            color: var(--lightest-slate);
            font-family: 'Fira code';
            margin-right: 40%;
            font-size: 20px;
            text-decoration: none;
            .contacts-list{

                font-size: 20px;
                font-family: 'Fira code';
                text-decoration: none;
            }
        }

        }
}
