main {
    .about{
        margin-top: 4rem;
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        justify-content: center;
        min-height: 50vh;
        &-title{
            color: var(--lightest-slate);
            font-size: 40px;
            font-family: 'Fira code';
        }
        &-grid{
                &-info{
                    margin-top: 10px;
                    margin-bottom: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    justify-content: center;
                    min-height: 50vh;
                    &-text{
                        color: var(--lightest-slate);
                        font-size: 20px;
                        font-family: 'Fira code';
                        margin-right: 40%;
                        font-size: 15x;
                        margin-bottom: 20px;
                    }
                }
        }
    }
}